# non-dot files
/[^.]*
!/bin

.DS_Store
*.sw[nop]
.bundle
.byebug_history
.env
db/*.sqlite3
log/*.log
rerun.txt
tags
!tags/
tmp/**/*
!tmp/cache/.keep
*.pyc
vim/bundle/
.vim/view/
.vim/swap/
.oracle_jre_usage/
# Don't include files with sensitive data
/.zshrc-secrets

# iJunk
.MacOSX
.Trash

# ZSH junk
/.zcompdump*
/.zsh-update

# Python virtual envs
/.virtualenvs

# Ruby virtual envs
/.rvm

# History files
/.*history

# Dotfiles
/*Drobo*
/.*-dropbox-token
/.ackrc
/.adobe
/.alvzfmtrc
/.android
/.appcfg_cookies
/.appcfg_nag
/.ascii.io
/.autoenv
/.autoenv_authorized
/.autoenv_authorized.tmp
/.bash_sessions
/.belastingdienst.nl
/.bi_li3
/.bower
/.bup
/.bzr.log
/.cache
/.cargo
/.cassandra
/.CFUserTextEncoding
/.chef
/.composer
/.config
/.cookiecutters
/.cups
/.dbshell
/.devpi
/.direnvrc
/.dropbox
/.dropbox-master
/.dvdcss
/.eaglerc
/.emacs.d
/.fontconfig
/.ftcurlish.json
/.gem
/.gh-credentials
/.gist
/.gist-vim
/.gitconfig
/.gitk
/.gitkraken
/.gnupg
/.grc
/.heroku
/.httpie
/.ipython
/.irssi
/.iterm2
/.js
/.keybase-installer
/.lein
/.lesshst
/.local
/.m2
/.matplotlib
/.mitmproxy
/.mongorc.js
/.msgsrc
/.netrc
/.njxnqxgn
/.node-gyp
/.npm
/.parallel
/.pdepend
/.pip
/.pip-accel
/.pip-tools
/.profile
/.pylint.d
/.pypirc
/.python-eggs
/.pythonhist
/.pythonrc.py
/.pythonz
/.resty
/.ri
/.rnd
/.s3cfg
/.ScreamingFrogSEOSpider
/.srl
/.ssh
/.subversion
/.th
/.tmux.conf
/.tox
/.ttytterkey
/.vagrant.d
/.viminfo
/.Xauthority
/.XcodeDefaultPerspective.mode1v3
/.yesgraph-*


*.pub
**/cache
# Directories
Projects

# Vim generated documentation
/doc/tags

# Powerline-specific cruft that isn't ignored in their own plugin
Powerline_*.cache

# Postgres stuff
/.pg*
